<launch>
  <!-- Arguments <arg name="odom_topic" default="odom" />-->
  <arg name="move_forward_only" default="false"/>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find clean_robot)/param/cxparam/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find clean_robot)/param/cxparam/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find clean_robot)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find clean_robot)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find clean_robot)/param/cxparam/move_base_params.yaml" command="load" />
    <rosparam file="$(find clean_robot)/param/cxparam/dwa_local_planner_params.yaml" command="load" />
    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />
  </node>
</launch>
